<div class="calendar">
  <div class="calendar-navs">
    <div class="month-nav">
      <button (click)="prevMonth()">&lt;</button>
      <button (click)="nextMonth()">&gt;</button>
      <div>{{moment.format('MMMM YYYY')}}</div>
    </div>
  </div>
  <div class="month-grid">
    <div class="day-names">
      <div class="day-name p9">
      </div>
    </div>
    <div class="weeks">
      <div *ngFor="let week of weeks" class="week">
        <ng-container *ngFor="let day of week">
          <app-calendar-cell [day]="day"></app-calendar-cell>
        </ng-container>
      </div>
    </div>
  </div>
</div>
