:host {
  display: inline-block;
  width: calc(100% * (1/7) - 2px);
  border: 1px solid #7E7E7E;
  flex-grow: 1;
}
.date-text {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  padding: 0 7px;
  height: 100%;
  cursor: pointer;
}
span {
  display: inline-block;
}
.date-box {
  padding-top: 5px;
  overflow: hidden;
}
.month {
  color: black;
}
.today {
  background-color: #006FCA;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 25px;
  color: white;
  text-align: center;
}
.saved-events {
  overflow: hidden;
}
.selected-cell {
  background-color: #eee;
}
.event-line {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 0;
  margin-bottom: 1px;
  white-space: nowrap;
}
.subject-event {
  margin: 0 3px 0 5px;
}
.dot {
  color: #006FCA;
  width: 7px;
  height: 7px;
  line-height: 5px;
}
.event-only {
  background-color: #009CE5;
  color: white;
  margin-left: -5px;
}
.searched-cell {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
  background: yellow;
}

